@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

html {
    font-size: 10px;
}

:root {
    --bg--color : #5B2386;
    --main-color : #FFF;
    --sub--color : #F5DF4D;
    --bg--btn--color : #FCEE21;
    --btn--shadow : 0px 0px 10px 0px #00000080;
    --main--font : 'GmarketSansMedium';
    --quote--img : url('../img/quotes.png');
}

body {
    background-color: var(--bg--color);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 19.9rem auto 7rem;

    font-family: var(--main--font);
    font-weight: 400;
    font-size: 2.4rem;
    color : var(--main-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.main-title {
}

.main-title img{
    width: 100%;
    aspect-ratio: 564/112;
}

main {
    text-align: center;
}

.clock {
    aspect-ratio: 261/265;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.sub-title {
    font-family: 'OTEnjoystoriesBA', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    color : var(--sub--color);
    margin : 12.5rem auto 7.8rem;
}

.quote {
    background-image: var(--quote--img);
    background-size: cover;
    margin : 0 auto 10.2rem;
    font-family: 'GmarketSansBold';
    font-weight: 700;
    text-align: center;
  
}

.quote span {
    font-family: 'GmarketSansMedium';
    font-size: 1.8rem;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    gap : 2.7rem;
}

form p {
    font-size: 2.4rem;
}

form p input {
    border-radius: 0.7rem;
    font-size: 2.4rem;
    padding : 1.7rem 0;
    margin : 0 1.6rem;
}

form p input::placeholder {
    text-align: center;
    color: #BABCBE;
}

button {
    background-color: var(--bg--btn--color);
    padding : 2.1rem 4.9rem;
     border-radius: 5.6rem ;
    box-shadow: var(--btn--shadow);
     font-family: 'GmarketSansBold';
    font-size: 2.4rem;
     color : var(--bg--color);
}
.btn-checktime {
    margin: calc(11.5rem - 2.7rem) auto 14.7rem;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result span {
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 7.2rem;
    margin : 0 1.2rem;
}

.btn-group {
    display: flex;
    margin-top: 12.7rem;
    justify-content: center;
    gap: 1.8rem;
}

footer {
    font-family: 'Noto Sans KR';
    font-size: 1.2rem;
    font-weight: 400;   
}
.logo {
    margin : 13rem auto 2rem;
}