@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

html {
    font-size: 10px;
}

:root {
    --bg--color : #5B2386;
    --main-color : #FFF;
    --sub--color : #F5DF4D;
    --bg--btn--color : #FCEE21;
    --btn--shadow : 0px 0px 10px 0px #00000080;
    --main--font : 'GmarketSansMedium';
    --quote--img : url('../img/quotes.png');
}

body {
    background-color: var(--bg--color);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

.mobile {
    display: none;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 19.9rem auto 7rem;
    font-family: var(--main--font);
    font-weight: 400;
    font-size: 2.4rem;
    color : var(--main-color);
    word-break: keep-all;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-title img {
    width: 100%;
    max-width: 56.4rem;
    aspect-ratio: 564/112;
}

main {
    text-align: center;
}

.clock {
    aspect-ratio: 261/265;
    width: 50%;
    max-width: 26.1rem;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.sub-title {
    font-family: 'OTEnjoystoriesBA', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    color : var(--sub--color);
    margin : 12.5rem auto 7.8rem;
}

.quote {
    background-image: var(--quote--img);
    background-size: 63.86%;
    background-repeat: no-repeat;
    background-position: center 20%;
    margin : 0 auto 10.2rem;
    font-family: 'GmarketSansBold';
    font-weight: 700;
    text-align: center;
    line-height: 2.4rem;
}


.quote span {
    font-family: 'GmarketSansMedium';
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 400;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 1.7rem;
}

form p input {
    border-radius: 0.7rem;
    padding : 1.7rem 0;
    margin : 0 1.7rem;
    max-width: 22.8rem;
    text-align: center;
    font-size: 2.4rem;
}

form p input::placeholder {
    text-align: center;
    color: #BABCBE;
}

button {
    background-color: var(--bg--btn--color);
    padding : 2.1rem 4.9rem;
    border-radius: 5.6rem ;
    box-shadow: var(--btn--shadow);
    font-family: 'GmarketSansBold';
    font-size: 2.4rem;
    color : var(--bg--color);
}

.checktime-wrap {
    margin: calc(11.5rem - 2.7rem) auto 14.7rem;
    position: relative;
}

.checktime-wrap img {
    position: absolute;
    object-fit: cover;
    width: 6.4rem;
    right : -7.1rem;
    bottom : -2rem;
}


.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 1.7rem;
}

.result span {
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 7.2rem;
    vertical-align: middle;
}

.btn-group {
    display: flex;
    margin: calc(12.7rem - 1.7rem) auto 13rem;
    justify-content: center;
    gap: 1.8rem;
}

.btn-share {
    background-color: #FFF;
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 1.2rem;
    font-weight: 400; 
    gap : 2rem;  
    line-height: 1.738rem;
}
.logo {
   max-width: 12.5rem;
}
.logo img {
    width: 100%;
}

dialog {
    box-sizing: border-box;
    border: 0;
    padding : 7.6rem 14.6rem 6.8rem 14.6rem;
    border-radius: 3rem;
    box-shadow: 0px 0px 20px 0px #00000080;
}
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'OTEnjoystoriesBA';
    font-weight: 700;
    text-align: center;
    color: var(--bg--color);
}

.modal-container .modal-title {
    font-size: 9.6rem;
    line-height: 10.56rem;
    margin-bottom: 0.4rem;
}

.modal-container > p {
    font-size: 3.6rem;
    line-height: 3.96rem;
}

.modal-container > img {
    margin : 2.9rem auto 7.4rem;
    aspect-ratio: 433/337;
}
 @media screen and (max-width : 767px) {
    .pc {
        display: none;
    }

    .mobile {
        display : inline;
    }
    .container {
        margin : 7.6rem auto 3.2rem;
        font-size: 1.4rem;
    }

    .main-title img {
        width: 100%;
        max-width: 25.71rem;
    }

    .clock {
        max-width: 12.5rem;
    }

    .sub-title {
        font-size: 2.2rem;
        margin : 6.9rem auto 6.2rem;
    }
    
    .quote {
        background-size: 83.89%;
        margin : 0 auto 4.85rem;
    }
    
    .quote span{
        font-size: 1.4rem;
    }
    
    form {
        gap : 0;
    }

    form p input {
        padding : 1.2rem 0;
        max-width: 15.6rem; 
        font-size: 1.4rem;
        margin : 1.75rem 0.4rem;
    }

  
    .checktime-wrap {
        position: relative;
        margin : calc(4.9rem - 1.75rem) 6.3rem 6.4rem 5.6rem;
    }
    .checktime-wrap img {
        width: 4.3rem;
        bottom : -1rem;
        right : -4.9rem;
    }

    .btn-checktime {
        margin : 0;
        position: relative;
        padding: 1.9rem 3.65rem 1.7rem;
        border-radius: 1.3rem;
        font-size: 1.4rem;
    }

    
    .result {
        gap :1.5rem;
    }
    .result span {
        font-size: 2.4rem;
    }

    .btn-group {
        margin: calc(5.5rem - 1.5rem) auto 8.3rem;
    }

    .btn-go {
        padding : 1.35rem 1.75rem 1.25rem;
        font-size: 1.4rem;
    }
    
    .btn-share {
        padding : 1.35rem 1.9rem 1.25rem;
        font-size: 1.4rem;
    }

    footer {
        font-size: 0.9rem;
        color : rgba(255,255,255,0.7);
        gap : 1.7rem;
    }
    
    .logo {
        width: 9.1rem;
    }

    dialog {
        box-sizing: border-box;
        border: 0;
        padding : 4.0rem 4.5rem 4.0rem 4.4rem;
        box-shadow: 0px 0px 20px 0px #00000080;
    }

    .modal-container .modal-title {
        font-size: 6.4rem;
        line-height: 7.04rem;
        margin-bottom: 0;
    }
    
    .modal-container > p {
        font-size: 3.6rem;
        line-height: 3.96rem;
    }
    
    .modal-container > img {
        margin : 2.4rem auto 3.4rem;
        width: 24.1rem;
        aspect-ratio: 241/188;
    }

    .modal-container > button {
        padding : 1.9rem 4.5rem 1.7rem 4.5rem;
        border-radius: 1.3rem;
        font-size: 1.4rem;
        line-height: 1.0;
    }
} 